@model SampleSolrApp.Models.SearchResultsModel
<div class="text-center">
        @foreach (var r in Model.Results)
        {
            <div class="card">
                <div class="card-body">
                    @r.Name?.FirstOrDefault()
                </div>
            </div>
        }
</div>