@model SampleSolrApp.Models.SearchResultsModel
<div class="text-center">
    <ul>
    @foreach (var r in Model.Results)
    {
        <li>Product @r.Id @r.Name</li>
                         
    }
    </ul>
</div>